@charset "UTF-8";

*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: rgb(242, 250, 215);
}
header{
    background-color: rgb(167, 204, 142);
    margin: auto;
    padding: 20px ;
    padding-bottom: 0%;
    text-align: center;
    box-shadow: 0px 10px 13px rgba(76, 94, 55, 0.151);
}
header > h1{
    padding-bottom: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 2.5em;
    text-decoration:underline;
    text-shadow: 0px 20px 30px rgba(0, 0, 0, 0.486);
}
nav{
    margin-left: 0px;
    text-align: left;
    padding-bottom: 3px;
}
.container{
    margin-top: 20px;
    width: 100px;
    display: none;
}
#menu{
    margin-bottom: 20px;
    width: 10px;
    font-size: 1.2em;
    
}
#menu > p{
    font-size: 2em;
   
    
}
.container > p{
    margin-bottom: 20px;
    width: 60px;
    padding: 10px;
}
#menu:hover .container{
    display:inline-block;
    background-color: rgba(127, 255, 170, 0.452);
    position: absolute;
}
article{
    padding-top: 40px;
}
